current_dir            = File.dirname(__FILE__)
log_level              :info
log_location           STDOUT
ssl_verify_mode        :verify_none
chef_server_url        "https://<%= @SERVER_HOST %>:<%= @SERVER_PORT %>/organizations/<%= @ORGANIZATION_NAME %>"
validation_client_name '<%= @ORGANIZATION_NAME %>-validator'
validation_key         "#{current_dir}/certificates/<%= @ORGANIZATION_NAME %>-validator.pem"
client_key             "#{current_dir}/certificates/admin.pem"
node_name              'admin'
<% if @CONFIGURE_COOKBOOK_PATH %>
cookbook_path          [ '.', '..', './cookbooks']
<% end %>