version: '3.2'
services:
  chef-server:
    image: thedeem/chef-server-training
    hostname: chef-server
    container_name: chef-server
    privileged: true
    ports:
    - "<%= @SERVER_PORT %>:<%= @SERVER_PORT %>"
    environment:
      USER_NAME: admin
      USER_EMAIL: thedeemling@gmail.com
      USER_PASS: admin123
      ORGANIZATION_NAME: <%= @ORGANIZATION_NAME %>
      SERVER_PORT: <%= @SERVER_PORT %> # Change this port if 443 is already taken on your computer